/*
start: Global CSS settings
*/
body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-color: #fffde5;
}
/*
finish: Global CSS settings
/*

/*
start: loading animiation
*/
.loading-text {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 100%;
    margin: 10% auto 0 auto;
    z-index: 9;
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}
.spinner {
  margin: 7% auto 0 auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #a6decc;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*
finish: lloading animation
*/